
.navbar-brand {float: left;padding: 0px 20px;font-size: 14px;line-height: 20px;height: 44px;}

.navbar-brand>img {    margin-top: 5px;height: 35px;}

.panel.panel-white{background-color:#fff;}

.icon-push{    color: #454e59;font-size:13px;}

.account-span{display:block;}

.panel-flat>.panel-heading {   padding-top: 10px;padding-bottom: 10px;}

.btn-1{background-color:#5CAFDE;width:150px;color:white;font-weight: bold;letter-spacing:1px;}
.btn-1:hover{background-color:#5CAFDE;width:150px;color:white;font-weight: bold;letter-spacing:1px;}

.btn-2{margin:2% 0;background-color:#5CAFDE;width:150px;color:white;font-weight: bold;letter-spacing:1px;}
.btn-2:hover{margin:2% 0;background-color:#5CAFDE;width:150px;color:white;font-weight: bold;letter-spacing:1px;}

.authorize-div{margin:1% 0;}

.add-area { margin:0; padding:0% 0 5% 0; position:relative;}
.add-area .add-div {margin: 0;padding: 0;position: relative;}
.add-area .add-card{margin: 0 auto;padding: 0px;background-color: rgb(250, 250, 250); }
.add-area .add-card.add-cardboard { width: 100%;}
.add-area .facebook-ads{margin: 0 auto;padding: 0;text-align: center;}
.add-area .facebook-ads img{margin: 0 auto;padding: 10% 0 10% 0;text-align: center;vertical-align: middle;}
.add-area .alert-danger {margin: 0px;color: #17466b;background-color: #dcd9d7;border:none;font-size: 16px;border-radius: 0px;}
.add-area .alert-dismissable .close, .alert-dismissible .close { position: relative;top: 2px;right: 0;color: #000!important;font-size: 20px;font-weight: bold;}
.add-area .border-ads{margin: 0% auto 5% auto;text-align: center;height: 6px;width: 80%;background-color:#dcd9d7;border-radius: 5px; }

@media only screen and (max-width: 767px){
	
	
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {}